/* Definición de colores base */
:root {
    --primario:  #264653;  
    --secundario:  #48C9B0; 
    --contraste:  #2A9D8F;  
    --botones:  #E74C3C;  
    --fondos: #ECF0F1;  
}

/* Estilos generales */
body {
    background-color: var(--fondos);
    color: var(--primario);
    font-family: 'Rubik', sans-serif;
}

/* Título principal */
h1.display-3 {
    color: var(--primario);
    font-weight: bold;
}

/* Títulos secundarios */
h5.card-title {
    color: var(--primario);
    font-weight: bold;
}

/* Párrafos */
p.lead {
    color: var(--primario);
}

/* Botones */
.btn {
    border-radius: 30px; /* Bordes redondeados */
}

.btn-warning {
    background-color: var(--secundario);
    color: white;
    border: none;
}

.btn-warning:hover {
    background-color: var(--contraste);
}

/* Estilos de las tarjetas */
.card {
    background-color: white;
    border-radius: 12px;  /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px; /* Ajusta la altura de la imagen */
}

/* Footer */
footer {
    background-color: var(--primario);
    color: white;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--secundario);
}

/* Estilo de la card de información */
.card-body p {
    color: var(--primario);
}

/* Padding general */
.container {
    padding: 30px 15px;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .display-3 {
        font-size: 2rem;
    }

    .card {
        margin-bottom: 20px;
    }
}
